//
// Theme Navbar
// --------------------------------------------------
.navbar-brand {
  //font-weight: 700;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  width: 200px;
  height: $navbar-height;
  display: table;
  padding-top: 0;
  padding-bottom: 0;
  @include transition(all .3s ease);
  > img {
    height: 90%;
    max-width: 100%;
    display: table-cell;
    vertical-align: middle;
  }
}
.navbar-header {
  float: left;
}
.btn-menu {
  float: right !important;
  height: $navbar-height;
  margin-right: -10px;
  padding-left: 20px;
  padding-right: 20px;
  @media (min-width: $grid-float-breakpoint) {
    display: none;
  }
}
#locales-menu {
  .nav {
    float: right !important;
    margin-top: 0;
  }
  .nav > li > a { 
    color: #fff;
    padding-top:    $navbar-padding-vertical;
    padding-bottom: $navbar-padding-vertical;
    background-color: transparent;
    height: $navbar-height;
    @include transition(all 0.3s ease-in-out);
    &:hover,
    &:focus {
      background-color: transparent;
      color: $brand-primary;
    }
  }
}