//
// Theme Navbar
// --------------------------------------------------
.navbar-brand {
  margin-left: 6px;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 700;
  width: 170px;
  height: $navbar-height;
  display: table;
  padding-top: 0;
  padding-bottom: 0;
  @include transition(all .3s ease);
  > img {
    height: 90%;
    max-width: 100%;
    display: table-cell;
    vertical-align: middle;
  }
  
  @media (min-width: $grid-float-breakpoint) {
    width: 200px;
    .navbar > .container &,
    .navbar > .container-fluid & {
      margin-left: $navbar-padding-horizontal;
    }
  }
}
.navbar-header {
  float: left;
}
.navbar-nav > li > a {
  outline: 0;
}
.btn-menu {
  outline: 0;
  float: right !important;
  height: $navbar-height;
  margin-right: -10px;
  padding-left: 10px;
  padding-right: 10px;
  @media (min-width: $grid-float-breakpoint) {
    display: none;
  }
}
#locales-menu {
  .nav {
    float: right !important;
    margin-top: 0;
  }
  .nav > li > a { 
    outline: 0;
    color: #fff;
    padding: $navbar-padding-vertical 8px;
    background-color: transparent;
    height: $navbar-height;
    
    @include transition(all 0.3s ease-in-out);
    &:hover,
    &:focus {
      background-color: transparent;
      color: $brand-primary;
    }
  }
}
