<div class="container">
  <div class="row">
    <div class="col-xs-12 text-center">
      <div class="page-header">
        <%= render_page_title(parent.title) %>
      </div>
      <%= content_tag :div, :class => "lead" do %>
        <% raw parent.body %>
      <% end if parent.body %>
    </div>
  </div> 
</div>
<% if @document_items %>
<div class="document_items">
  <div class="container">
    <div class="row">
      <ul class="th-document_items">
        <%= render @document_items %>
      </ul>
    </div>
  </div>
</div>
<% end %>