<%= render "carousel" %>
<div class="container">
  <div class="row">
    <div class="col-xs-12">
      <div class="page-header text-center">
        <%= page_title(resource.title) %>
      </div>
    </div>
  </div>
</div>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 text-center"> 
        <div class="lead"><%= render_copy_text(resource.body) %></div>
        <p>
          <ul class="nav-unstyled">
            <li>63, rue de la paix</li>
            <li>BP 703 - Gustavia</li>
            <li>97099 SAINT-BARTHELEMY</li>
            <li>(+590) 590 279 491</li>
            <li>(+590) 590 297 399</li>
            <li><a href="mailto:contact@architectonik.fr?subject=feedback">contact@architectonik.fr</a></li>
          </ul>
        </p>
      </div>
    </div> 
  </div> 
<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-8 col-sm-offset-2">
      <%= render "contact_form" %>
    </div>
  </div>
</div>



