<%# cache ['home', site, I18n.locale] do %>
<% 
  @portfolio ||= site.portfolio
  @projects ||= @portfolio.projects.with_globalize
  #@works = (@projects + @projects).shuffle
%>
<% if @projects %>
<div class="projects">
  <div class="container-fluid">
    <div class="row">
      <div class="th-thumbnails js-lazyload">
        <% @projects.each do |project| %>
          <% if project.image_assignments.size > 1 %>
            <%= render "projects/project", :project => project, :img => project.image_assignments.first.image %>
            <%= render "projects/project", :project => project, :img => project.image_assignments.second.image %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
<% end %>
<%# end %>