<%# cache([site, I18n.locale, 'footer']) do %>
<!-- START COPYRIGHT -->
<section id="footer">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= render_menu('pipe') %>
        
        <ul class="nav nav-social-links pull-right">
          <li><a href="https://www.facebook.com/Architectonik.stbarth" target="_blank"><i class="fa fa-facebook-square fa-2x"></i> Facebook</a></li>
          <li><a href=""><i class="fa fa-google-plus-square fa-2x" target="_blank"></i> Google plus</a></li>
        </ul>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12">
        <p>@ Copyright. All Rights Reserved. Created by <a href="http://www.joufdesign.com" class="copyright-author">Jouf Design.</a></p>
      </div>
    </div>
  </div>
</section>
<!-- END COPYRIGHT -->
<%# end %>